@model WebAppMovieProject.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<div class="container mt-4">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Movie Information</h4>
        </div>

    <dl class="row">
            <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Title)
        </dd>
            <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
            <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.ImdbRating)
        </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ImdbRating)
        </dd>
            <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-9">
                <img src="@Model.ImageUrl" alt="@Model.Title" class="img-thumbnail" />
        </dd>
            <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Watched)
        </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Watched)
        </dd>
            <dt class=col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.WatchedDate)
        </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.WatchedDate)
        </dd>
            <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
            <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Platform.PlatformName)
        </dd>
            <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
            <dd class="col-sm-9">
            @foreach (var category in Model.Categories)
            {
                @category.CategoryName

                <br />
            }
        </dd>
        </dd>
            <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
            <dd class="col-sm-9">
            @foreach (var actor in Model.Actors)
            {
                @actor.ActorName

                <br />
            }
        </dd>
            <dt class="col-sm-3 font-weight-bold">
                Synopsis
            </dt>
            <dd class="col-sm-9">
                @ViewBag.Synopsis
            </dd>
    </dl>
</div>
    <div class="card-footer text-center">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.MovieId">Edit</a> |
        <a class="btn btn-secondary" asp-action="Index">Back to List</a> |
        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</div>
