@model WebAppMovieProject.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<h1>Movie Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdbRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content("~/images/" + Model.ImageUrl)" alt="@Model.Title" class="img-thumbnail" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Watched)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Watched)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WatchedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WatchedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform.PlatformName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class="col-sm-10">
            @foreach (var category in Model.Categories)
            {
                @category.CategoryName

                <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
